.star {
	color: gold;
	font-size: 22px;
}
.inline {
	display: inline-block;
	vertical-align: top;
}
.review {
	border: 1px solid #DDD;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 10px;
}
div.special-container {
	height: 250px;
	overflow: auto;
}